* { margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

body { 
    font-size:1.6rem;
    font-family:"Rubik",sans-serif ;
    line-height:1.3;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    
}

a{
    text-decoration: none; 
}

html{
    font-size:65.5%;
    scroll-behavior:smooth;
    scroll-padding-top:3rem
}

.header{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 16px 40px;
}


.logo img{
    width: 80px;
    height: auto;
}


.menu-link{
    position: relative;
    color: #0b132a;
    margin-left: 20px;
    height: 2px;
    bottom: 0;
    transition: color 0.3s ease;
}
.menu-link::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #0b132a;
    transition: width 0.3s ease;
}

.menu-link:hover::after {
    width: 100%;
}

.search-bar button {

  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.search-bar button:hover{
    background: #ccc;
}
.search-bar input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: 2px solid #e1e5e9;
  border-radius: 12px;
}

.page-title {
    text-align: center;
    padding: 60px 20px;
}

.page-title h1 {
    font-size: 32px;
    margin-bottom: 10px;
}



.products {
    padding: 40px;
}

.products-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
}


.product-card {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
}

.product-card img {
    max-width: 100%;
    height: 200px;
    object-fit: contain;
    margin-bottom: 10px;
}

.product-card h3 {
    margin-bottom: 5px;
}


.product-card button {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 14px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    border-radius: 6px;
    transition: all 0.3s ease;;
}


.product-card button:hover{
        background-color: #555;
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}











